<html>
<h1>
    Hello add new task
</h1>
<body>
    <link rel="stylesheet" href="myStyle.css">
</body>
<body>
        <body>
                <form action="/newTask" method="POST">
                    Task Name:
                    <input type="text" name="taskName" /> </br>
                    Task due date:
                    <input type="text" name="taskDueDate" /> </br>
                    Task Description:
                    <input type="text" name="taskDesc" /> </br>
                    <button>Submit</button>
                </form>
            </body>
            <a href="/">Home</a> <br>
</body>

</html>